[project]
	description = Divina Commedia
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/marklings
[access "refs/for/refs/*"]
	read = group user/marklings
	push = group user/marklings
	label-Code-Review = -2..+2 group user/marklings
	label-Verified = -1..+1 group user/marklings
	rebase = group user/marklings
	removeReviewer = group user/marklings
	submit = group user/marklings
[access "refs/heads/*"]
	read = group user/marklings
	create = group user/marklings
	push = +force group user/marklings
	pushMerge = group user/marklings
[access "refs/tags/*"]
	push = +force group user/marklings
	pushTag = group user/marklings
	pushSignedTag = group user/marklings
